
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Thankyou</title>
</head>
<body>

    <h1 class="container text-center mt-5 mb-5" style="color:blueviolet">Thank You For Showing Interest In Us</h1>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary text-center">Exit</a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
